* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    color: var(--NN1000, rgba(0, 0, 0, 0.54))
}

.body {
    height: 100%;
    background: var(--NN0, #FFFFFF);
    font-size: 14px;
    line-height: 1.15;
}

/* Header */
/* Top Header */
.container-header {
    display: block;
    margin-top: 110px;
    padding-top: 1px;
}

.container-header .wrapper-header {
    flex-direction: column;
    width: 100%;
    min-width: 1024px;
    display: flex;
    align-items: center;
    background-color: #fff;
    z-index: 999;
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.07);
    height: 110px;
}
/* Box Atas */
.container-header .wrapper-header .top-header {
    width: 95%;
    display: flex;
    height: 32px;
    z-index: 3;
    background-color: #f3f4f5;
    border-bottom: 1px solid #f3f3f3;
    padding: 0 32px;
    position: fixed;
    justify-content: space-between;
    left: 0px;
    right: 0px;
}
/* Box Atas */
/* Download tokopedia */
.container-header .wrapper-header .top-header i {
    width: 20px;
    height: 20px;
    background-image: url(https://assets.tokopedia.net/assets-tokopedia-lite/v2/zeus/kratos/413cd754.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 60% 60%;
    display: inline-block;
}

.container-header .wrapper-header .top-header .download-tokopedia-app {
    justify-content: center;
    display: flex;
    align-items: center;
    min-width: 168px;
    margin-right: 16px;
}

.container-header .wrapper-header .top-header .download-tokopedia-app h3 {
    color: rgba(49,53,59,0.68);
    font-size: 12px;
    line-height: 31px;
    transition: color 200ms ease;
    cursor: pointer;
}

.container-header .wrapper-header .top-header .download-tokopedia-app h3:hover {
    color: rgb(3,172,14);
}
/* Download tokopedia */
/* Navbar Atas */
.container-header .wrapper-header .navbar-top-header {
    display: flex;
    margin: 0;
    justify-content: space-around;
    width: 533px;
}

.container-header .wrapper-header .navbar-top-header h3 {
    color: rgba(49,53,59,0.68);
    font-size: 12px;
    line-height: 31px;
    flex-wrap: nowrap;
    cursor: pointer;
}

.container-header .wrapper-header .navbar-top-header h3:hover {
    color: rgb(3,172,14);
}
/* Navbar Atas */
/* Top Header */

/* Middle Header */
/* Box Tengah */
.container-header .wrapper-header .middle-header {
    width: 96%;
    left: 32px;
    display: flex;
    height: 56px;
    top: 30px;
    position: fixed;
    align-items: center;
}
/* Box Tengah */
/* Logo  Tokopedia */
.container-header .wrapper-header .middle-header a {
    width: 145px;
    justify-content: center;
    margin: 4px 0 0 4px;
    flex-shrink: 0;
}

.container-header .wrapper-header .middle-header img {
    width: 145px;
    height: 32px;
}
/* Logo Tokopedia */

/* Kategori */
.container-header .wrapper-header .middle-header .kategori-header {
    height: 100%;
    margin: 1px 8px 0 10px;
}

.container-header .wrapper-header .middle-header .box-kategori h3 {
    font-size: 12px;
    line-height: 1.5;
    height: 30px;
    width: 58px;
    cursor: pointer;
    margin: 30px 8px 8px 20px;
}

.container-header .wrapper-header .middle-header .box-kategori h3:hover {
    color: rgb(3,172,14) ;
}
/* Kategori */

/* Pencarian */
.container-header .wrapper-header .middle-header .pencarian-header{
    display: flex;
    align-items: center;
    width: 68%;
    position: relative;
    min-width: 150px;
}

.container-header .wrapper-header .middle-header .pencarian-header .search-bar {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    border: solid 1px var(--N75,#E5E7E9);
    align-items: center;
    height: 32px;
    border-radius: 8px;
    margin-top: 10px;
}

.container-header .wrapper-header .middle-header .pencarian-header .search-bar img {
    flex: 0 0 24px;
    width: 20px;
    height: 20px;
}

.container-header .wrapper-header .middle-header .pencarian-header .search-bar input {
    border: 0;
    padding: 10px;
    font-size: 12px;
    margin-bottom: 0;
    min-width: 0;
    min-height: 0;
    width: 100%;
    color: var(--NN950,#212121);
    font-family: inherit;
    background-color: transparent;
    line-height: 20px;
    outline: none;
    height: auto;
}
/* Pencarian */
/* Keranjang belanja */
.container-header .wrapper-header .middle-header .kotak-belanja {
    width: 3%;
    margin: 0 0 0 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
    z-index: 475;
}

.container-header .wrapper-header .middle-header .kotak-belanja .keranjang {
    width: 36px;
    height: 30px;
    cursor: pointer;
}

.container-header .wrapper-header .middle-header .kotak-belanja .keranjang img {
    background-position: 0 0;
    width: 20px;
    height: 20px;
    background-image: url(https://assets.tokopedia.net/assets-tokopedia-lite/v2/zeus/kratos/413cd754.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin-top: 10px;
}
/* Keranjang belanja */
/* Masuk dan Daftar */
.container-header .wrapper-header .middle-header .login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 158px;
    margin: 0 0 0 14px;
}

.container-header .wrapper-header .middle-header .login .masuk button {
    width: 47%;
    height: 32px;
    padding: 0px 16px;
    font-weight: 800;
    border-radius: 8px;
    font-size: 12px;
    background: white;
    color: rgb(3,172,14);
    cursor: pointer;
    border: 1px solid rgb(3,172,14);
}

.container-header .wrapper-header .middle-header .login .daftar button {
    width: 47%;
    height: 32px;
    color: white;
    padding: 0px 16px;
    font-weight: 800;
    border-radius: 8px;
    font-size: 12px;
    background: rgb(3,172,14);
    cursor: pointer;
    border: none;
}
/* Masuk dan Daftar */
/* Middle Header */

/* Bottom Header */
/* Box Bawah */
.container-header .wrapper-header .bottom-header {
    position: fixed;
    top: 86px;
    width: 45%;
    left: 274px;
    display: flex;
    z-index: -1;
}
/* Box Bawah */
/* Trending */
.container-header .wrapper-header .bottom-header a {
    color: rgba(49,53,59,0.68);
    line-height: 1.5;
    font-size: 12px;
    margin: 0 2% 0 0%;
    cursor: pointer;
    text-decoration: none;
}

.container-header .wrapper-header .bottom-header a:hover {
    color: rgb(3,172,14);
}
/* Trending */
/* Bottom-Header */

/* Last Header */
/* Box Last */
.container-header .wrapper-header .last-header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 87px;
    right: 0px;
    cursor: pointer;
    z-index: -1;
}

.container-header .wrapper-header .last-header img {
    width: 14px;
    height: 14px;
    fill: var(--color-icon-enabled, #2E3137);
}

.container-header .wrapper-header .last-header .lokasi {
    display: flex;
    margin-left: 4px;
    width: 80%;
    padding-right: 36px;
    font-size: 12px;
    line-height: 16px;
}

.container-header .wrapper-header .last-header .lokasi h3 {
    
    font-weight: 400;
    color: var(--color-text-low,rgba(49,53,59,0.68));
    margin: 0px 5px 0px 0px;
} 

.container-header .wrapper-header .last-header .lokasi h4 {
    font-weight: 700;
    color: var(--color-text-high,rgba(49,53,59,0.96));
    margin-top: 1px;
    max-width: 300px;
}

.container-header .wrapper-header .last-header .lokasi img {
    width: 14px;
    height: 14px;
}

/* Lokasi */
/* Last Header */
/* Header */ 

/* Body */
.container-body {
    display: block;
    margin-top: 8px;
    padding-top: 1px;
    margin-left: 90px;
}

.container-body .wrapper-body {
    margin: auto;
    padding: 19px 0px 0px;
}

hr {
    border-top: 2px solid #F0F3F7;
}

.container-body .wrapper-body .task {
    margin-bottom: 19px;
    display: flex;
    font-size: 16px;
}

.container-body .wrapper-body .task h5 {
    color: rgb(3,172,14) ;
    cursor: pointer;
    font-size: 13px;
}

.container-body .wrapper-body .task p {
    font-size: 13px;
}

.container-body .wrapper-body .produk {
    display: grid;
    grid-template-columns: minmax(0px, 348px) minmax(0px, 468px) minmax(0px, 268px);
    column-gap: 52px;
}

.container-body .wrapper-body .produk .foto-besar img {
    width: 348px;
    height: 348px;
}

.container-body .wrapper-body .produk .foto-kecil {
    display: flex;
    flex-wrap: nowrap;
}

.container-body .wrapper-body .produk .foto-kecil img {
    width: 60px;
    height: 60px;
    padding-right: 20px;
}

.container-body .wrapper-body .produk .nama-produk .judul-produk h2 {
    margin: 0px 0px 4px;
    font-weight: 800;
    font-size: 1.28571rem;
    color: var(--NN950,#212121);
    word-break: break-word;
}

.container-body .wrapper-body .produk .nama-produk .penilaian-produk {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    color: var(--NN700,#525867);
}

.container-body .wrapper-body .produk .nama-produk .penilaian-produk p {
    font-size: 1rem;
    line-height: 20px;
}

.container-body .wrapper-body .produk .nama-produk .penilaian-produk span {
    font-size: 1rem;
    line-height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.container-body .wrapper-body .produk .nama-produk .harga-produk {
    margin-bottom: 20px;
}

.container-body .wrapper-body .produk .nama-produk .harga-produk h2 {
    margin-bottom: 4px;
    font-size: 2rem;
    line-height: 34px;
    font-weight: bold;
    color: var(--NN950,#212121);
}

.container-body .wrapper-body .produk .nama-produk .warna {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-body .wrapper-body .produk .nama-produk .warna h3 {
    font-size: 18px;
    color: black;
}

.container-body .wrapper-body .produk .nama-produk .warna .box-warna {
    display: flex;
    margin-left: 2px;
    gap: 5px;
    margin-top: 20px;
}

.container-body .wrapper-body .produk .warna .box-warna button {
    display: inline-flex;
    align-items: center;
    font-size: 1rem;
    line-height: 1.28571rem;
    height: 30px;
    padding: 4px 12px;
    border-radius: 12px;
    cursor: pointer;
    color: var(#AAC4B8);
    background-color: var(#F0F3F7);
    border: none;
}

.container-body .wrapper-body .produk .warna .box-warna button:hover {
    color: var(--GN500,#00AA5B);
    background-color: var(--GN50,#ECFEF4);
    border: 1px solid var(--GN400,#20CE7D);
}

.container-body .wrapper-body .produk .detail {
    display: flex;
    margin-bottom: 20px;
}

.container-body .wrapper-body .produk .detail .box-detail button {
    align-items: center;
    min-height: 44px;
    padding: 10px 24px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    height: 20%;
}

.container-body .wrapper-body .produk .detail .box-detail button:hover {
    border-bottom: 2px solid #00AA5B;
    color: #20CE7D;
}

.container-body .wrapper-body .produk .detail .box-detail h3 {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 5px;
}

.container-body .wrapper-body .produk .detail .box-detail span {
    color: black;
}

.container-body .wrapper-body .produk .text {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-body .wrapper-body .produk .penjual{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.container-body .wrapper-body .produk .penjual .nama-penjual {
    display: flex;
}

.container-body .wrapper-body .produk .penjual .nama-penjual img {
    width: 48px;
    height: 48px;
}

.container-body .wrapper-body .produk .penjual .nama-penjual .box-logo {
    flex-direction: column;
    margin-left: 10px;
    margin-top: 10px;
}

.container-body .wrapper-body .produk .penjual .nama-penjual .box-logo h3 {
    font-size: 15px;
    color: var(--NN600,#6D7588);
}

.container-body .wrapper-body .produk .penjual .nama-penjual .box-logo .badge-logo {
    display: flex;
    flex-direction: row;
}

.container-body .wrapper-body .produk .penjual .nama-penjual .box-logo .badge-logo img {
    width: 16px;
    height: 16px;
}

.container-body .wrapper-body .produk .penjual .nama-penjual .box-logo .badge-logo h3 {
    font-size: 16px;
    color: #212121;
    font-weight: bold;
}

.container-body .wrapper-body .produk .penjual .follow button{
    margin-top: 10px;
    background-color: var(--NN0,#FFFFFF);
    border: 1px solid var(--GN500,#00AA5B);
    border-radius: 8px;
    color: var(--GN500,#00AA5B);
    cursor: pointer;
    font-size: 0.857143rem;
    height: 32px;
    outline: none;
    padding: 0px 16px;
    width: 98px;
}

.container-body .wrapper-body .produk .rating-penjual {
    display: flex;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.container-body .wrapper-body .produk .rating-penjual img {
    width: 16px;
    height: 16px;
    margin-right: 9px;
    margin-left: 9px;
}

.container-body .wrapper-body .produk .rating-penjual span {
    font-size: 16px;
    color: #212121;
    font-weight: bold;
}


.container-body .wrapper-body .produk .pengiriman {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-body .wrapper-body .produk .pengiriman img {
    width: 16px;
    height: 16px;
}

.container-body .wrapper-body .produk .pengiriman h3 {
    color: black;
    margin-bottom: 10px;
}

.container-body .wrapper-body .produk .pengiriman h4 {
    color: #212121;
    margin-bottom: 10px;
    font-weight: 100;
    margin-left: 10px;
}

.container-body .wrapper-body .produk .pengiriman p {
    margin-bottom: 7px;
    margin-left: 26px;
}

.container-body .wrapper-body .produk .pengiriman .lokasi-awal {
    display: flex;
}

.container-body .wrapper-body .produk .pengiriman .ongkir {
    display: flex;
}

.container-body .wrapper-body .produk .pengiriman .kurir {
    display: flex;
    justify-content: space-between;
}
.container-body .wrapper-body .produk .pengiriman .kurir .pilihan-kurir {
    display: flex;
}
.container-body .wrapper-body .produk .pengiriman .kurir h4 {
    margin-left: 26px;
    margin-top: 2px;
}
.container-body .wrapper-body .produk .pengiriman .kurir .pilihan-kurir button {
    border-radius: 3px;
    padding: 2px 4px;
    height: 20px;
    background-color: var(--NN100,#E4EBF5);
    border: none;
    cursor: pointer;
    font-size: 11px;
    color: #6D7588;
    font-weight: bold;
    margin-right: 5 px;
}
.container-body .wrapper-body .produk .pengiriman .kurir p {
    color: #00AA5B;
    cursor: pointer;
    font-weight: bolder;
    font-size: 12px;
}

.container-body .wrapper-body .produk .penawaran {
    margin-top: 20px;
    margin-bottom: 20px;
}
.container-body .wrapper-body .produk .penawaran h2 {
    color: black;
    margin-bottom: 10px;
    font-size: 19px;
    font-weight: bold;
}
.container-body .wrapper-body .produk .penawaran p {
    margin-left: 28px;
    color: #212121;
    font-size: 16px;
}
.container-body .wrapper-body .produk .penawaran span {
    color: #00a156;
    font-size: 14px;
    cursor: pointer;
}

.container-body .wrapper-body .produk .penawaran .paylater {
    display: flex;
}

.container-body .wrapper-body .produk .penawaran .paylater img {
    width: 16px;
    height: 16px;
}
.container-body .wrapper-body .produk .penawaran .paylater h2 {
    font-weight: bold;
    color: #212121;
    font-size: 16px;
    margin-left: 13px;
}

.container-body .wrapper-body .produk .aplikasi {
    margin-top: 20px;
    margin-bottom: 20px;
}
.container-body .wrapper-body .produk .aplikasi h2 {
    color: black;
    margin-bottom: 10px;
    font-size: 19px;
    font-weight: bold; 
}
.container-body .wrapper-body .produk .aplikasi .scan {
    display: flex;
    justify-content: space-between;
}

.container-body .wrapper-body .produk .aplikasi .scan .box-scan {
    display: flex;
}

.container-body .wrapper-body .produk .aplikasi .scan .box-scan img {
    width: 16px;
    height: 24px;
}

.container-body .wrapper-body .produk .aplikasi .scan .box-scan p {
    margin-left: 28px;
    color: #212121;
    font-size: 16px;
}

.container-body .wrapper-body .produk .aplikasi .scan button.barcode img{
    width: 16px;
    height: 16px; 
    margin-right: 5px;
}

.container-body .wrapper-body .produk .aplikasi .scan button {
    background-color: var(--NN0,#FFFFFF);
    border: 1px solid var(--NN300,#BFC9D9);
    border-radius: 8px;
    color: var(--NN700,#525867);
    cursor: pointer;
    font-weight: 800;
    font-size: 0.857143rem;
    height: 32px;
    outline: none;
    padding: 0px 16px;
}

.container-body .wrapper-body .produk .masalah {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.container-body .wrapper-body .produk .masalah p {
    font-size: 12px;
}

.container-body .wrapper-body .produk .masalah .laporkan {
    display: flex;
}

.container-body .wrapper-body .produk .masalah .laporkan img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.container-body .wrapper-body .produk .masalah .laporkan p {
    font-size: 14px;
    color: #212121;
}

.container-body .wrapper-body .produk .kotak-pembelian {
    border: 1px solid var(--NN300,#BFC9D9);
    border-radius: 8px;
    padding: 0px 12px;
    position: fixed;
}

.container-body .wrapper-body .produk .kotak-pembelian h2 {
    margin: 12px 0px 20px;
    font-size: 18px;
    color: var(--NN950,#212121);
    text-align: left;
    font-weight: bold;
}

.container-body .wrapper-body .produk .kotak-pembelian h3 {
    color: var(--NN950,#212121);
    font-size: 15px;
    margin-bottom: 20px;
}

.container-body .wrapper-body .produk .kotak-pembelian .jumlah-pembelian {
    align-items: center;
    border: solid 1px var(--NN300,#BFC9D9);
    border-radius: 8px;
    display: flex;
    padding: 3px;
    width: 102px;
}

.container-body .wrapper-body .produk .kotak-pembelian .jumlah-pembelian button {
    background-color: transparent;
    border: none;
    color: var(--NN950,#212121);
    font-size: 14px;
    line-height: 18px;
    outline: none;
    text-align: center;
    cursor: pointer;
}

.container-body .wrapper-body .produk .kotak-pembelian .jumlah-pembelian img {
    width: 16px;
    height: 16px;
    padding-left: 15px;
    padding-right: 15px;
}

.container-body .wrapper-body .produk .kotak-pembelian .jumlah-pembelian h4 {
    margin-left: 20px;
    color: var(--NN950,#212121);
}

.container-body .wrapper-body .produk .kotak-pembelian .catatan {
    margin-top: 25px;
    cursor: pointer;
    display: flex;
}

.container-body .wrapper-body .produk .kotak-pembelian .catatan img {
    width: 16px;
    height: 16px;
    padding-left: 15px;
    padding-right: 15px;
}

.container-body .wrapper-body .produk .kotak-pembelian .catatan p {
    color: rgb(3,172,14);
    font-size: 12px;
}

.container-body .wrapper-body .produk .kotak-pembelian .subtotal {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.container-body .wrapper-body .produk .kotak-pembelian .subtotal h3 {
    font-size: 22px;
}

.container-body .wrapper-body .produk .keranjang{
    align-items: center;
    margin-top: 5px;
}

.container-body .wrapper-body .produk .keranjang .box-keranjang button {
    background-color: var(--GN500,#00AA5B);
    border: none;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    line-height: 20px;
    outline: none;
    margin: 8px 0px;
    width: 100%;
}

.container-body .wrapper-body .produk .keranjang .box-keranjang span {
    color: white;
    font-weight: bold;
}

.container-body .wrapper-body .produk .keranjang .box-beli button {
    background-color: var(--NN0,#FFFFFF);
    border: 1px solid var(--GN500,#00AA5B);
    border-radius: 8px;
    color: var(--GN500,#00AA5B);
    cursor: pointer;
    font-size: 1rem;
    height: 36px;
    outline: none;
    width: 100%;
    margin: 8px 0px;
}

.container-body .wrapper-body .produk .keranjang .box-beli span {
    color: #00AA5B ;
    font-weight: bold;
}

.container-body .wrapper-body .produk .chat-wishlist-share {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-body .wrapper-body .produk .chat-wishlist-share img {
    width: 16px;
    height: 16px;
}

.container-body .wrapper-body .produk .chat-wishlist-share button {
    background-color: var(--NN0,#FFFFFF);
    border: none;
    cursor: pointer;
    color: var(--NN950,#212121);
    padding: 0px 12px;
}

.container-body .wrapper-body .produk .chat-wishlist-share span {
    font-size: 12px;
    font-weight: bold;
}


